$grid-columns: 12;

.wsu-c-column__wrapper {

	& > .editor-inner-blocks > .block-editor-block-list__layout {
		display:flex;
	}
}

.wsu-c-columns {

	&--single {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block {
				width: 100%;
			}

		}
	}

	&--halves {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block {
				width: 50%;
			}

		}
	}

	&--thirds {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block {
				width: 33.33%;
			}

		}
	}

	&--quarters {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block {
				width: 33.33%;
			}

		}
	}

	&--sidebar_right {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block:first-child {
				width: 66.66%;
			}

			& > .wp-block:last-child {
				width: 33.33%;
			}

		}
	}

	&--sidebar_left {

		& > .editor-inner-blocks > .block-editor-block-list__layout {

			& > .wp-block:first-child {
				width: 33.33%;
			}

			& > .wp-block:last-child {
				width: 66.66%;
			}

		}
	}

}
