@import '~@wsuwebteam/web-design-system/packages/components/content-card/content-card.scss';

.wsu-c-card__photo {
    height: 100% !important;
}

.wsu-g-cards__wrapper .block-editor-inner-blocks .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
}

.wsu-c-card__photo-frame {
	background-color: #555;
}

.wsu-g-cards__wrapper .wp-block {
	padding: 14px;
	flex-grow: 0;
	justify-content: flex-start;
}

.wsu-g-cards {

	&--2 {

		.wp-block {
			width: 50%;
		}

	}

	&--3 {

		.wp-block {
			width: 33.33%;
		}

	}

	&--4 {

		.wp-block {
			width: 25%;
		}

	}

}

.wsu-c-card__position-title {
	padding: 0 20px;
}

.wsu-c-card__subtitle {
	padding: 0 20px;
}