.wsu-c-button {
	background-color: #040404;
	color: #fff;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 4px;
	display: inline-block;
}

.wsu-c-button__wrapper {
	//overflow: hidden;
}

.is-typing[data-type="wsuwp/button"] .wsu-c-button__wrapper .editor-url-input,
.is-selected[data-type="wsuwp/button"] .wsu-c-button__wrapper .editor-url-input {
	height: auto;
	padding-top: 0.5rem;
	visibility: visible;
}

.wsu-c-button__wrapper .editor-url-input {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	max-width: 400px;

	input {
		border: 1px solid #040404 !important;
		border-radius: 2px !important;
		height: 40px !important;
		max-width: 400px;
	}
}