@import '~@wsuwebteam/web-design-system/packages/components/content-hero/style.scss';
@import '~@wsuwebteam/build-tools/scss/all-the-things.scss';

.wsu-c-columns-editor {

	&__wrapper {
		border-top: 1px solid color(gray,50);
		border-bottom: 1px solid color(gray,50);
		padding: 1rem 2rem;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}

	&__title {
		text-align: center;
		font-size: 0.8rem;
		font-weight: 600;
	}

	&__options {
		list-style-type: none;
		margin: 0 !important;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__option {
		border: 1px solid color(gray,50);
		width: 110px;
		list-style-type: none;
		margin: 0.2rem;
		padding: 0 0.5rem 0.5rem;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: color(gray,0);
			border-color: rgb(0, 117, 175);
		}

		& svg {
			display: block;
			width: 100%;
		}

		&__label {
			display: block;
			text-align: center;
			font-size: 0.7rem;
			font-weight: 600;
		}
	}

}

.wsu-c-column__wrapper {

	padding: 0 14px;

	& > .block-editor-inner-blocks > .block-editor-block-list__layout  {
		display: flex;
	}
}

.wsu-c-columns {
	&--single > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 100%;
	}

	&--sidebar-right > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 70%;

		&:last-child {
			width: 30%;
		}
	}
	&--sidebar-left > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 30%;

		&:last-child {
			width: 70%;
		}
	}
	&--halves > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 50%;
	}
	&--thirds > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 33.3%;
	}
	&--quarters > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		width: 25%;
	}
}

.wp-block.has-selected-ui {
	border: 1px dashed transparent;
	border-radius: 5px;

	&[data-type="wsuwp/columns"]:hover,
	&[data-type="wsuwp/columns"]:focus {
		border-color: color(gray, 20);
		cursor: pointer;
	}

	&[data-type="wsuwp/column"]:hover,
	&[data-type="wsuwp/column"]:focus {
		border-color: #007cba;
	}

	&.is-selected:hover,
	&.is-selected:focus {
		border-color: transparent;
	}

	& .block-editor-rich-text__editable:hover {
		cursor: text;
	}
}

.wsu-c-column {
	padding: 0 1rem;
	box-sizing: border-box;
	width: 100% !important;
}