.wsu-b-heading {
	&__wrapper {
		display: flex;

		.block-editor-rich-text {
			flex-grow: 1;
		}
	}

	&__level {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 0;
		width:0;
		overflow: hidden;
		visibility: hidden;

		select {
			height: 40px;
		}
	}

	&__text {
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
		margin: 0 !important;
		width: 100%;
	}
}

.is-typing[data-type="wsuwp/heading"] .wsu-b-heading__wrapper .wsu-b-heading__level,
.is-selected[data-type="wsuwp/heading"] .wsu-b-heading__wrapper .wsu-b-heading__level {
	width:auto;
	visibility: visible;
	padding-right: 0.5rem;
}