.wp-block {
	max-width: 1200px;
}

.block-editor-block-inspector .components-base-control,
.block-editor-block-inspector .components-panel__row {
	margin-bottom: 18px;
}

.wsu-c-article-header .editor-post-title .editor-post-title__input {
    font-size: inherit;
}

.block-editor-block-list__layout {
    position: relative;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}